.todo-list-item {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.7em;
}

.todo-list-item_span {
    display: flex;
    align-items: center;
}

.checkbox {
    padding-right: 0.6em;
    font-size: 110%;
}

.label-check {
    cursor: pointer;
    margin-right: 0.5em;
}

.done-task {
    text-decoration: line-through;
}

.active-task {
    text-decoration: none;
}