.todo-list-item {
    list-style-type: none;
    display: grid;
    grid-template-areas: "first second";
    grid-template: auto / minmax(auto, 480px) 60px;
    grid-column-gap: 10px;
    align-items: center;
    width: 92%;
}

.todo-list-item_span {
    display: grid;
    grid-template-areas: "check text modal";
    grid-template: auto / 25px auto 28px;
    align-items: center;
    justify-content: start;
}

.label-check {
    cursor: pointer;
}

.done-task {
    word-break: break-all;
    text-decoration: line-through;
}

.active-task {
    word-break: break-all;
    text-decoration: none;
}

.button-delete {
    min-width: 60px;
    width: 60px;
    padding: 0;
    background-color: transparent;
}

.button-delete:hover {
    background-color: transparent;
}