/* .main-input {
  width: 92%;
  margin: 0;
  height: 38px;
} */

.form-add {
  background-color: #F1F1F1;
  max-width: 600px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  margin-bottom: 50px;
}

.main {
  width: 92%;
  display: grid;
  grid-template-areas: "area area2";
  grid-template: auto / auto 60px;
  grid-column-gap: 5px;
  align-items: center;
  margin: 5px 0 26px 0;
}

/* .main {
  width: 92%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 30px 0;
} */
