.form-add {
  background-color: #F1F1F1;
  max-width: 600px;
  display: grid;
  grid-row-gap: 20px;
  margin-bottom: 50px;
}

.main-input {
  display: grid;
  grid-template-areas: "input submit";
  grid-template: auto / minmax(auto, 485px) 60px;
  grid-column-gap: 12px;
  align-items: center;
  justify-content: center;
  margin: 0 25px 0 25px;
}
