.modal .button-modal {
    display: none;
}

.edit-pencil {
    color: rgba(114, 112, 112, 0.425);
    margin-left: 0.3em;
    margin-right: 0.3em;
    cursor: pointer;
    transition: color 0.3s ease-in;
}

.edit-pencil:hover {
    color: #3FA3FF;
}

.ant-modal-footer {
    display: none;
}

.form-modal {
    display: grid;
    grid-template-areas: "area area2";
    grid-template: auto / auto 60px;
    grid-column-gap: 5px;
    align-items: center;
}