body {
  overflow-y: visible !important;
}

body {
  background-color: #9fcff5;
  padding: 15px;
  /* background-color: #5db4fa; */
}

.App {
  text-align: center;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.to-do {
  margin: 0 auto;
  max-width: 600px;
  box-shadow: 6px 7px 13px 11px rgba(52, 113, 159, 0.28);
  -webkit-box-shadow: 6px 7px 13px 11px rgba(52, 113, 159, 0.28);
  -moz-box-shadow: 6px 7px 13px 11px rgba(52, 113, 159, 0.28);
}