.ant-page-header.header {
	max-width: 600px;
	margin: 0 auto;
	background-color: white;
	margin-top: 50px;
}

.header.ant-page-header-heading {
	width: 100%;
}

.ant-page-header-heading-sub-title {
	padding-top: 5px;
}

.header .ant-page-header-heading-extra .button-filter {
	width: 60px;
	padding: 0;
}