.ant-page-header.header {
	max-width: 600px;
	margin: 0 auto;
	background-color: white;
	margin-top: 50px;
}

.header.ant-page-header-heading {
	width: 100%;
}

.ant-btn.active {
	color: #40a9ff;
	border-color: #40a9ff;
}

.ant-page-header-heading-sub-title {
	padding-top: 5px;
}